.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    background-color: blue;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects {
    display:grid;
}

.cards {
    display: grid;
}

.fav {
    background: url(icons/star-plus.svg);
}

.watch {
    background: url(icons/eye-plus.svg);
}

.share {
    background: url(icons/share.svg);
}

.search-click {
    background: url(icons/magnify.svg);
}

.notify {
    background: url(icons/bell-ring.svg);
}

.card-icons input, .search-click, .notify {
    width: 25px;
    height: 25px;
    border: none;
}

.welcome img {
width: 75px;
height: 75px;
}

.user-log img, .trend img {
width: 50px;
height: 50px;
}