/*replace fonts and colors later */

.container {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 15fr;
}

.header {
    height: 250px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
}

.top-head {
    height: 100px;
display: grid;
grid-template-columns: 4fr 2fr;
}

.search-bar {
display: grid;
grid-template-columns: 50px 50px 900px;
grid-template-rows: 1fr 1fr 1fr;
}

.search-click {
grid-column: 2 / 3;
grid-row: 2 / 3;
}

.search-text {
grid-column: 3 / 4;
grid-row: 2 / 3;
background-color: gray;
border: none;
border-radius: 20px;
}

.user-log {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: auto;
}

.notify {
    grid-column: 1 / 2;
}

.user-log img {
    grid-column: 2 / 3;
}

.user-log h3 {
    grid-column: 3 / 4;
}

.bottom-head {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.welcome img {
    grid-column: 1 / 2;
    margin-left: 60px;
}

.welcome p, .welcome h2 {
    grid-column: 2 / 3;
}

.buttons-main {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
}

.buttons-main button {
    background-color: blue;
    color: white;
    font-size: 20px;
    grid-row: 2 / 3;
    border-radius: 15px;
}

.new-but {
    grid-column: 1 / 2;
}

.up-but {
    grid-column: 2 / 3;
}

.share-but {
    grid-column: 3 / 4;
}

.sidebar {
    background-color: blue;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar h1 {
    display: flex;
    justify-content: center;
}

.sidebar ul {
    list-style-type: none;
    font-size: 30px;
}

.main-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    background-color: gray;
}

.projects {
}

.projects .own-proj {
margin-left: 35px;
}

.projects h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
}

.cardall {
    display: grid;
    grid-column: 1 / 3;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(600px, 20%));
    grid-template-rows: repeat(auto-fit, minmax(250px, 20%));
}

.card {
height: 250px;
background-color: white;
padding-left: 20px;
border-radius: 5px;
border-left: 7px solid orange;
margin-left: 45px;
padding-right: max(20px, 5%);
display: grid; 
grid-template-rows: repeat(auto-fit, 1fr);
}

.card h2 {
    height: 30px;
    margin-bottom: 0px;
}

.card p {
    text-align: left;
    margin-top: 0px;
    font-size: 18px;
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.content-right {
    margin-right: 30px;
}

.trend-head {
}

.trends {
border-radius: 5px;
padding-top: 5px;
padding-left: 5px;
}


.trend {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.trend p {
margin-top: 0px;
margin-bottom: 3px;
margin-left: 10px;
}

.trends h2 {
    background-color: gray;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.user-icon {
    grid-row: 1 / 3;
}

.footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.content-right {
    grid-column: 3 / 4;
    row-gap: 50px;
}

.ahead {

}

.announce {
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.announce h3 {
}

.article {
    padding-left: 30px;
    padding-right: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    border-bottom: 1px solid gray;
}

.trends {
    background-color: white;
}

.fav {
    background: url(icons/star-plus.svg);
    grid-column: 8 / 9;
}

.watch {
    background: url(icons/eye-plus.svg);
}

.share {
    background: url(icons/share.svg);
}

.search-click {
    background: url(icons/magnify.svg);
}

.notify {
    background: url(icons/bell-ring.svg);
}

.card-icons input, .search-click, .notify {
    width: 25px;
    height: 25px;
    border: none;
}

.welcome img {
width: 75px;
height: 75px;
}

.user-log img, .trend img {
width: 50px;
height: 50px;
}